*.bak
*.dbg
lazpaint/release/bin/*.exe
*.lps
backup/*
lib
debug
__pycache__
*.res
*.lrt
/lazpaint/*.lrj
lazpaint/backup/
*.lrj
vectoredit/vectoredit
vectoredit/backup/
lazpaint/test_embedded/backup/
lazpaint/test_embedded/project1
lazpaint/dialog/filter/backup/
lazpaint/release/bin/lazpaint
lazpaint/tools/backup/
lazpaint/image/backup/
lazpaint/dialog/backup/
.DS_Store
lazpaint/release/bin/lazpaint.app
lazpaint/release/macOS/*.dmg
lazpaint/release/windows/lazpaint32
lazpaint/release/windows/lazpaint64
lazpaint/release/bin/i18n/lazpaint32.*
lazpaint/release/bin/i18n/lazpaint_x64.*
/lazpaint/dialog/color/backup
resources/createresource/backup/
lazpaint/units/
/bgracontrols
/bgrabitmap

*.deb
lazpaint/release/debian/lazpaint*_no_install.tar.gz
