[submodule "bgrabitmap"]
    path = bgrabitmap
    url = https://github.com/bgrabitmap/bgrabitmap.git
[submodule "bgracontrols"]
    path = bgracontrols
    url = https://github.com/bgrabitmap/bgracontrols.git
