*.bak
*.dbg
*.lps
backup/*
lib
debug
__pycache__
.DS_Store
*.res
*.lrt
lazpaint/backup/
lazpaint/dialog/backup/
lazpaint/dialog/color/backup
lazpaint/dialog/filter/backup/
lazpaint/image/backup/
lazpaint/test_embedded/backup/
lazpaint/test_embedded/project1
lazpaint/release/bin/lazpaint
lazpaint/tablet/backup/
lazpaint/tools/backup/
lazpaint/units/
lazpaint/release/bin/*.exe
lazpaint/release/bin/lazpaint.app
lazpaint/release/macOS/*.dmg
lazpaint/release/windows/lazpaint32
lazpaint/release/windows/lazpaint64
lazpaint/release/bin/i18n/lazpaint32.*
lazpaint/release/bin/i18n/lazpaint_x64.*
resources/createresource/backup/
vectoredit/vectoredit
vectoredit/backup/
/bgracontrols
/bgrabitmap
*.deb
lazpaint/release/debian/lazpaint*_no_install.tar.gz
lazpaint/release/windows/lazpaint*_no_install.zip
/web/public/*
lazpaint/release/bin/i18n/lazpaint64.pot
lazpaint/release/windows/libavif/
web/.hugo_build.lock
