*.bak
*.dbg
*.exe
*.lps
backup/*
lib
debug
*.res
*.lrt
/lazpaint/*.lrj

lazpaint/backup/

*.lrj

vectoredit/vectoredit

vectoredit/backup/

lazpaint/release/lazpaint

lazpaint/test_embedded/backup/

lazpaint/test_embedded/project1

lazpaint/dialog/filter/backup/

lazpaint/release/bin/lazpaint

lazpaint/tools/backup/

lazpaint/image/backup/

lazpaint/dialog/backup/
.DS_Store
