Source: lazpaint
Section: graphics
Priority: optional
Maintainer: circular <circular@operamail.com>
Homepage: https://wiki.freepascal.org/LazPaint
Package: lazpaint
Architecture: any
Version: 7.1.5
Depends: ${shlibs:Depends}
Description: Image editor with raster and vector layers
 Can read layered files (lzp, ora, pdn, oXo), multi-images (gif, ico, tiff), 
 flat files (bmp, jpeg, pcx, png, tga, xpm, xwd), vectorial (svg), 3D (obj).
 Has drawing tools, phong shading, curve adjustments,
 filters and render some textures.
