Source: lazpaint
Section: graphics
Priority: optional
Maintainer: circular <circular@operamail.com>
Homepage: https://wiki.freepascal.org/LazPaint
Package: lazpaint
Architecture: any
Version: 7.2.2
Depends: ${shlibs:Depends}
Conflicts: lazpaint-gtk2, lazpaint-gtk3, lazpaint-qt4, lazpaint-qt5
Description: Image editor with raster and vector layers
 Can read layered files (lzp, ora, pdn, oXo, flat psd), multi-images (gif,
 ico, tiff), flat files (bmp, jpeg, pcx, png, tga, webp, xpm, xwd),
 raw images (dng, cr2, nef, arw...), vectorial (svg), 3D (obj). Has drawing
 tools, vector shapes, phong shading, curve adjustments, filters, render
 some textures, Python scripting.
