[Desktop Entry]
Encoding=UTF-8
Name=LazPaint
Name[fr]=LazPaint
Comment=LazPaint
¢omment[fr]=LazPaint
Icon=/usr/share/pixmaps/lazpaint.png
Exec=/usr/share/lazpaint/lazpaint
Terminal=false
Type=Application
Categories=Graphics
GenericName=LazPaint
