            <div class="menu">
                {{- $page := . -}}
                {{- range .Site.Menus.main -}}
                    {{- $item := newScratch -}}
                    {{- $item.Set "Text" (print .Name | safeHTML) -}}
                    {{- if ne .Name "last_changes" -}}
                        {{- $item.Set "URL" (relLangURL .URL) -}}
                    {{- else -}}
                        {{- $item.Set "URL" (relURL .URL) -}}
                    {{- end -}}
                    {{- if and (eq .Name "documentation") (ne $page.Language.Lang "en") -}}
                        {{- $item.Set "URL" (printf "%s/%s" ($item.Get "URL") $page.Language.Lang) -}}
                    {{- end -}}
                    {{- if eq (relURL $page.Permalink) (relLangURL .URL) -}}
                        {{- $item.Set "Class" "button success" -}} 
                    {{- else -}}
                        {{- $item.Set "Class" "button" -}}
                    {{- end }}
                    <a href="{{ $item.Get "URL" }}" class="{{ $item.Get "Class" }}">{{ i18n ($item.Get "Text") }}</a>&nbsp;
                {{- end }}
                    <a href="https://www.facebook.com/LazPaint" class="button facebook">f</a>
            </div>