Package: LazPaint
Version: 7.0.1
Section: base
Priority: optional
Architecture: i386
Depends: 
Maintainer: circular <circular@operamail.com>
Homepage: https://wiki.freepascal.org/LazPaint
Description: LazPaint
 Graphics viewer and editor.
 Can read layered files (lzp, ora, pdn, oXo), multi-images (gif, ico, tiff), flat files (bmp, jpeg, pcx, png, tga, xpm, xwd), vectorial (svg), 3D (obj)
 Has drawing tools, phong shading, curve adjustments, filters and render some textures.
