{{ partial "header.html" . }}
{{ $url := "https://api.github.com/repos/bgrabitmap/lazpaint/releases/latest" -}}
{{ $last := resources.GetRemote $url | transform.Unmarshal }}
{{ $text := printf "\n%s" $last.body -}}
{{ $text := replace $text "  *" "-" -}}
{{ $text := replace $text "\n-" "\n•" -}}
{{ $text := trim $text "\n\r\t " -}}
<main id="main">
	<div class="download">
		<div class="content center">
			<h1>{{ $last.name }}</h1>
			<div><a class="button github" href="https://github.com/bgrabitmap/lazpaint">GitHub</a></div>
			<div class="changes">{{ $text }}</div>
		</div>
	</div>
</main>
{{ partial "footer.html" . }}