---
name: Make

on:
  schedule:
    - cron:  '0 0 1 * *'
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build on Linux
      if: runner.os == 'Linux'
      shell: bash
      run: |
        set -xeuo pipefail
        sudo bash -c 'apt-get update; apt-get install -y lazarus cppcheck pylint shellcheck' >/dev/null
        instantfpc -Fu/usr/lib/lazarus/*/components/lazutils .github/workflows/make.pas

    - name: Build on Windows
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        New-Variable -Option Constant -Name VAR -Value @{
            Uri = 'https://fossies.org/windows/misc/lazarus-3.8-fpc-3.2.2-win64.exe'
            OutFile = (New-TemporaryFile).FullName + '.exe'
        }
        Invoke-WebRequest @VAR
        & $VAR.OutFile.Replace('Temp', 'Temp\.') /SP- /VERYSILENT /SUPPRESSMSGBOXES /NORESTART | Out-Null
        $Env:PATH+=';C:\Lazarus'
        $Env:PATH+=';C:\Lazarus\fpc\3.2.2\bin\x86_64-win64'
        (Get-Command 'lazbuild').Source | Out-Host
        (Get-Command 'instantfpc').Source | Out-Host
        instantfpc '-FuC:\Lazarus\components\lazutils' .github/workflows/make.pas
